html {
	height:100%;
}
body {
	height:100%;
	font-family: 'Roboto', sans-serif;
	background-image: url('/images/153630620030013760.jpg');
	background-size:100%;
}

h2 {
	margin-top:10px;
	margin-bottom:10px;
}
em {
	font-weight: bold;
	background-color:yellow;
	padding:2px 5px;
}

.purchase-item {
	background-color:white;
	box-shadow:0 0 5px black;
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.order-item {
	background-color:white;
	box-shadow:0 0 5px black;
	padding:10px;
	margin-bottom:10px;
}
.playlist-item {
	background-color:white;
	box-shadow:0 0 5px black;
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
}

.non-compliant {
	background-color: rgb(255, 190, 190);
}

#ad-item {
	padding:3px;
	background-color:rgb(255, 255, 199);
}
#ad-item a {
	color:grey;
	text-decoration: none;
	font-weight:bold;
	display:block;
}
.active {
	border:2px solid rgb(0, 157, 168);
}