html {
	height:100%;
}
body {
	height:100%;
	font-family: 'Roboto', sans-serif;
	background-image: url('/images/1.jpg');
	background-size:100%;
}

h2 {
	margin-top:10px;
	margin-bottom:10px;
}
em {
	font-weight: bold;
	background-color:yellow;
	padding:2px 5px;
}

.purchase-item {
	background-color:#ffe7ba;
	border:2px solid orange;
	padding:10px;
	margin-bottom:10px;
	border-radius:12px;
	cursor:pointer;
}
.order-item {
	background-color:#bad2ff;
	border:2px solid rgb(17, 0, 255);
	padding:10px;
	border-radius:12px;
	margin-bottom:10px;
}
.playlist-item {
	background-color:#ffbacf;
	border:2px solid rgb(255, 0, 76);
	padding:10px;
	margin-bottom:10px;
	border-radius:12px;
	cursor:pointer;
}